.info {
    background-color: #f1f2f2;

    .wrapper {
        @include flexbox(row, wrap, space-between, inherit, center);
        position: relative;
        top: -30px;
        height: 100%;
    }

    .card {
        @include flexbox(column, wrap, flex-start, center, flex-start);
        @include transition;
        @include border-radius(10px);
        @include box-sizing;
        height: 100%;
        width: 100%;
        background-color: #FFF;
        padding: 35px 20px;
        text-align: center;
        -webkit-box-shadow: 10px -10px 4px -6px rgba(0,0,0,0.27);
        -moz-box-shadow: 10px -10px 4px -6px rgba(0,0,0,0.27);
        box-shadow: 10px -10px 4px -6px rgba(0,0,0,0.27);

        @include e('mark'){
            @include flexbox(column, wrap, center, center, center);
            @include border-radius(50%);
            width: 100px;
            height: 100px;
            background-color: #bf0000;
            margin-bottom: 20px;
            > img{
                max-width: 60%;
                height: auto;
            }
        }

        @include e('title'){
            @include flexbox(column, wrap, flex-start, center, center);
            @include fonte($second-font, bold, 22px, #273238);
            &:after{
                content: "";
                margin: 12px 0px;
                display: block;
                width: 25px;
                height: 3px;
                background-color: #bf0000;
            }
        }

        @include e('text'){
            
        }


    }
}
